@media only screen and (max-width: 1400px){
    .header-wrapper header nav ul li a {
        font-size: 17px;
        color: #fff;
        font-weight: 500;
    }
    .header-wrapper header nav ul {
        gap: 39px;
    }
    .contact-form-wrapper .form-block form .captcha-button-wrapper {
        flex-direction: column;
    }
    .contact-form-wrapper .form-block form .captcha-button-wrapper .submit-button {
        width: 100%;
    }
    .banner-content-wrapper .banner-content .text-block h4 {
        
    }

}
@media only screen and (max-width: 1200px){
    .header-wrapper header nav ul li a {
        font-size: 22px;
    }
    .header-wrapper header nav ul {
        gap: 27px;
    }
    .banner-content-wrapper .banner-content .text-block h1 {
        font-size: 70px;
    }
    .banner-content-wrapper .banner-content .text-block h2 {
        font-size: 21px;
        margin-block-start: 1px;
        margin-block-end: 15px;
    }
    .banner-content-wrapper .banner-content .text-block p {
        font-size: 18px;
    }
    .banner-content-wrapper .banner-content .image-block {
        width: 100%;
    }
    .banner-content-wrapper {
        padding-block-start: 68px;
        padding-block-end: 100px;
    }
    .about-section-wrapper .bottom-section {
        padding-block-start: 35px;
        padding-block-end: 76px;
    }
    .about-section-wrapper .top-section .efficiency-block {
        padding-block-end: 50px;
    }
    .about-section-wrapper .bottom-section .hire-me .text-block h2 {
        font-size: 39px;
    }
    .about-section-wrapper .bottom-section .hire-me .text-block p {
        padding-block-start: 25px;
        font-size: 15px;
    }
    .about-section-wrapper .bottom-section .hire-me .image-block {
        width: 76%;
    }
    .about-section-wrapper .bottom-section .hire-me::after{
        top: 262px;
    }
    .portfolio-wrapper .title h2 {
        font-size: 39px;
        padding-block-start: 2px;
    }
    .portfolio-wrapper .title p{
        font-size: 18px;
    }
    .skills-wrapper .skills-content-block h2{
        font-size: 39px;
    }
    .skills-wrapper .skills-content-block p {
        font-size: 16px;
        padding-block-start: 26px;
    }
    .skills-wrapper .image-block {
        width: 80%;
        margin-block-start: 27px;
    }
    .skills-wrapper {
        padding-block-end: 90px;
    }
    .contact-form-wrapper .title h2 {
        font-size: 39px;
    }
    title {
        font-size: 18px;
    }
    .banner-content-wrapper .banner-content .text-block {
        text-align: start;
        margin-block-end: 45px;
    }
    .banner-content-wrapper .banner-content .about-me-sec {
        justify-content: start;
    }
    .about-section-wrapper .awesome-idea {
        margin-block-start: 70px;
    }
    .about-section-wrapper .bottom-section .hire-me .text-block {
        max-width: 100%;
        text-align: center;
        margin-block-start: 25px;
    }
    .about-section-wrapper .bottom-section .hire-me .text-block .about-me-sec {
        margin-inline: auto;
    }
    .skills-wrapper .skills-content-block {
        max-width: 100%;
        text-align: center;
    }
    .skills-wrapper .skills-bar-wrapper {
        width: max-content;
        margin-inline: auto;
    }
    .skills-wrapper .skills-content-block {
        max-width: 100%;
        text-align: center;
    }
    .skills-wrapper .skills-bar-wrapper {
        width: max-content;
        margin-inline: auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .skills-wrapper .skills-bar-wrapper .wrapper {
        width: 100%;
        font-family: 'Roboto', sans-serif;
    }
    .contact-form-wrapper .form-block .address .rt-block span {
        font-size: 20px;
    }
    .contact-form-wrapper .form-block .email{
        margin-block: 25px
    }
    .contact-form-wrapper .form-block .email .rt-block a {
        font-size: 20px;
        
    }
    .contact-form-wrapper .form-block .phone .rt-block a {
        font-size: 20px;
    }
    .contact-form-wrapper .form-block form {
        max-width: 100%;
    }
    .contact-form-wrapper .form-block .contact-wrapper{
        width: 100%;
    }
    .contact-form-wrapper .form-block .contact-wrapper .box .rt-block span {
        font-size: 18px;
    }
    .banner-content-wrapper .banner-content .text-block #element {
        font-size: 36px;
    }
    .animate span {
        font-size: 68px;
    }
    .animate {
       margin: 0;
    }
}
@media only screen and (max-width: 991px){
    .contact-form-wrapper .form-block .contact-wrapper .box {
        max-width: 100%;
        flex-direction: column;
        text-align: center;
        background: #ffffff0f;
        backdrop-filter: blur(10px);
        padding-block: 17px;
        padding-inline: 23px;
        box-shadow: rgb(12 9 9 / 13%) 0px 2px 8px 0px;
    }
   
    .contact-form-wrapper .form-block form {
        margin-block-start: 31px;
    }
    .contact-form-wrapper .form-block .contact-wrapper .box .rt-block span {
        font-size: 15px;
        display: inline-block;
        width: 85%;
    }
    .animate span {
        font-size: 62px;
    }
    .header-wrapper header nav ul li a {
        font-size: 18px;
    }
    .header-wrapper header .download-cv a {
        padding-inline: 29px;
        padding-block: 9px;
        border-radius: 6px;
        font-weight: 400;
        font-size: 13px;
    }
    .animate {
        margin:  0 !important;
    }
    .banner-content-wrapper .banner-content .text-block h1 {
       display: none;
    }
    .banner-content-wrapper .banner-content .text-block h4{
        margin: 0;
    }
    .about-section-wrapper .top-section .efficiency-block .box .title h2 {
        padding-block-end: 5px;
    }
    .stellarnav.desktop {
        margin-block: 11px;
    }
    .banner-content-wrapper .banner-content .text-block {
        text-align: center;
    }
    .banner-content-wrapper .banner-content .about-me-sec {
        justify-content: center;
    }
    .banner-content-wrapper .banner-content .image-block {
        width: 60%;
    }
    .banner-content-wrapper {
        padding-block-end: 49px;
    }
    .about-section-wrapper {
        padding-block-start: 100px;
    }
    .about-section-wrapper .bottom-section .hire-me .image-block {
        width: 76%;
        display: flex;
        justify-content: center;
    }
    .header-wrapper header .logo-block a img:nth-child(1) {
        width: 12%;
    }
    .header-wrapper header .logo-block a img:nth-child(2) {
        width: 49%;
    }
}
@media only screen and (max-width: 768px){
    
    .header-wrapper .mobile-width {
        width: 50%;
        margin-block-start: 12px;
    }
    .header-wrapper nav {
        background: #22222259;
        padding-inline: 48px;
        padding-block: 6px;
        border-radius: 4px;
    }
    .stellarnav.mobile{
        align-items: center;
        display: flex;
    }
    .header-wrapper header .download-cv a {
        border-radius: 3px;
    }
    .stellarnav.mobile>ul {
        top: 91px;
        z-index: 9999;
    }
    .contact-form-wrapper .form-block form .box {
        width: 100%;
    }
    a.menu-toggle.full {
        padding: 0;
    }
    .about-section-wrapper {
        padding-block-start: 80px;
    }
    .portfolio-wrapper .portfolio-image-gallery .button-group {
        margin-block-end: 25px;
    }
    .skills-wrapper .skills-content-block p {
        line-height: 22px;
    }
    .portfolio-wrapper .portfolio-image-gallery .button-group button {
        padding-block: 13px;
        border-radius: 9px;
        backdrop-filter: blur(10px);
        box-shadow: rgb(0 0 0 / 93%) 0px -3px 7px;
        width: 41%;
        background: #ffffff0d;
    }
    .portfolio-wrapper .portfolio-image-gallery .button-group {
        gap: 13px;
        flex-wrap: wrap;
    }
    .portfolio-wrapper .portfolio-image-gallery .button-group button {
        font-size: 15px;
    }
    .contact-form-wrapper .form-block .captcha-block{
        flex-direction: column;
    }
    .contact-form-wrapper .form-block .captcha-block .captcha-box{
        width: max-content !important;
    }
    .contact-form-wrapper .form-block .submit-button-wrapper{
        width: 100%;
    }
    .banner-content-wrapper .banner-content .text-block #element {
        font-size: 38px;
    }
    .banner-content-wrapper .banner-content .text-block h4 {
        height: auto;
    }
    .banner-content-wrapper .banner-content .text-block #element {
        font-size: 35px;
    }
}
@media only screen and (max-width: 574px){
    .about-section-wrapper .high-quality {
        margin-block-start: 70px;
    }
    .skills-wrapper {
        padding-block-end: 55px;
    }
    .contact-form-wrapper .title {
        position: relative;
        z-index: 1111;
    }
    .contact-form-wrapper .title {
        padding-block-end: 35px;
    }
    .portfolio-wrapper {
        padding-block-end: 50px;
    }
    .skills-wrapper .skills-content-block h4 {
        font-size: 24px;
    }
}
@media only screen and (max-width: 550px){
    .contact-form-wrapper .form-block form .captcha-button-wrapper{
        flex-direction: column !important;
    }
    .contact-form-wrapper .form-block form .captcha-button-wrapper .submit-button {
        width: 100%;
    }
    .contact-form-wrapper .form-block form .submit-button input{
        letter-spacing: 0px;
        font-size: 17px;
        padding-block: 13px;
    }
    .contact-form-wrapper .form-block form .captcha-button-wrapper .captcha-box {
        width: 100%;
    }
    #anchor{
        width: 100% !important;
    }
    iframe{
        width: 100% !important;
    }
    .animate {
        margin:  0 !important;
    }
    .banner-content-wrapper .banner-content .text-block h4{
        margin: 0;
    }
}
@media only screen and (max-width: 537px){
    .banner-content-wrapper .banner-content .text-block #element {
        font-size: 29px;
    }
}
@media only screen and (max-width: 499px){
    .portfolio-wrapper .portfolio-image-gallery .button-group button:active{
        transform: scale(0.96);
    }
    .header-wrapper header .download-cv a {
        padding-inline: 19px;
        font-size: 13px;
        padding-block: 8px;
    }
    .banner-content-wrapper {
        padding-block-start: 21px;
        padding-block-end: 73px;
    }
    .banner-content-wrapper .banner-content .text-block h4 {
        font-size: 33px;
    }
    .banner-content-wrapper .banner-content .text-block h1 {
        font-size: 42px;
    }
    .banner-content-wrapper .banner-content .text-block h2 {
        font-size: 19px;
        margin-block-start: 1px;
        margin-block-end: 19px;
        max-width: 222px;
        margin: auto;
        padding-block-end: 16px;
    }
    .banner-content-wrapper .banner-content .text-block p {
        font-size: 15px;
        font-weight: 300;
    }
    .banner-content-wrapper .banner-content .about-me-sec .rt-block a {
        font-size: 13px;
    }
    .banner-content-wrapper .banner-content .about-me-sec {
        flex-direction: column;
        justify-content: center;
        gap: 15px !important;
    }
    .banner-content-wrapper .banner-content .about-me-sec .lt-block{
        justify-content: center;
    }
    .about-section-wrapper {
        padding-block-start: 105px;
    }
    .about-section-wrapper .top-section .efficiency-block .box .title h2 {
        padding-block-end: 9px;
        font-size: 22px;
    }
    .about-section-wrapper .top-section .efficiency-block .box .title p {
        font-size: 13px;
    }
    .portfolio-wrapper .title h2 {
        font-size: 28px;
        padding-block-end: 12px;
    }
    .portfolio-wrapper .title p {
        padding-inline: 23px;
        line-height: 24px;
        font-size: 15px;
        max-width: 100%;
        margin-inline: auto;
    }
    .portfolio-wrapper .portfolio-image-gallery {
        padding-block-start: 20px;
    }
    .about-section-wrapper .bottom-section .hire-me .text-block h2 {
        font-size: 28px;
    }
    .about-section-wrapper .bottom-section .hire-me .text-block p {
        padding-block-start: 17px;
        font-size: 14px;
    }
    .about-section-wrapper .bottom-section .hire-me .text-block .about-me-sec a {
        font-size: 13px;
    }
    .about-section-wrapper .bottom-section {
        padding-block-start: 24px;
        padding-block-end: 61px;
    }
    .skills-wrapper .skills-content-block h2 {
        font-size: 21px;
        padding-block-start: 6px;
    }
    .skills-wrapper .skills-content-block p {
        font-size: 16px;
        padding-block-start: 17px;
        font-size: 14px;
    }
    .contact-form-wrapper .form-block::before {
        width: 104px;
        height: 82px;
        right: 0;
        top: -261px;
        z-index: -1;
        animation: horizontal-shaking-form-block-before 24s linear infinite alternate;
    }
    .contact-form-wrapper .form-block::after {
        width: 150px;
        height: 150px;
        top: -59px;
        z-index: -1;
    }
    .contact-form-wrapper .title h2 {
        font-size: 28px;
    }
    .contact-form-wrapper .form-block .contact-wrapper .box .rt-block h5 {
        font-size: 22px;
    }
    .contact-form-wrapper .form-block .contact-wrapper .box .rt-block span {
        font-size: 14px;
    }
    .contact-form-wrapper .form-block .email .rt-block a{
        font-size: 18px !important;
    }
    .contact-form-wrapper .form-block .phone .rt-block a{
        font-size: 18px !important;
    }
    .contact-form-wrapper .form-block form .submit-button input {
        font-size: 16px;
    }
    .all-rights-reserve-block {
        padding-block: 12px;
    }
    .all-rights-reserve-block p {
        font-size: 13px;
    }
    .about-section-wrapper .bottom-section .hire-me::before {
        width: 68px;
        height: 112px;
    }
    .contact-form-wrapper {
        padding-block-end: 20px;
    }
    .banner-content-wrapper .banner-content .image-block:nth-child(1) .icon-element .icon:nth-child(3) img {
        width: 85%;
    }
    .banner-content-wrapper .banner-content .image-block:nth-child(1) .icon-element .icon:nth-child(1) img {
        width: 85%;
    }
    .banner-content-wrapper .banner-content .image-block:nth-child(1) .icon-element .icon:nth-child(2) img {
        width: 85%;
    }
    .banner-content-wrapper .banner-content .image-block:nth-child(1) .icon-element .icon:nth-child(1) {
        bottom: -20px;
        right: 90px;
    }
    .banner-content-wrapper .banner-content .image-block:nth-child(1) .icon-element .icon:nth-child(3) {
        left: -28px;
    }
    .portfolio-wrapper::before {
        width: 90px;
        height: 108px;
        left: 19px;
        top: -27px;
    }
    .contact-form-wrapper .title p {
        font-size: 14px;
        line-height: 20px;
        max-width: 76%;
        margin-inline: auto;
        padding-block-start: 5px;
    }
    .animate {
        font-size: 24px;
    }
    .animate span {
        font-size: 50px;
    }
    .header-wrapper.sticky {
        padding-block-start: 12px;
        padding-block-end: 8px;
    }
    .header-wrapper nav {
        padding-inline: 31px;
        padding-block: 3px;
    }
    .portfolio-wrapper .portfolio-image-gallery .top-block {
        height: 150px;
    }
    .portfolio-wrapper .portfolio-image-gallery .bottom-block {
        height: 150px;
    }
    .portfolio-wrapper .portfolio-image-gallery::before {
        width: 100px;
        height: 100px;
    }
    .label-container{
        width: 150px !important;
    }
    .banner-content-wrapper .banner-content .text-block #element {
        font-size: 24px;
    }
    .banner-content-wrapper .banner-content .text-block h4 {
        height: auto;
    }
    .header-wrapper header .logo-block a img:nth-child(2) {
        width: 40%;
    }
    .header-wrapper header .logo-block a img:nth-child(1) {
        width: 10%;
    }
    .banner-content-wrapper .banner-content .image-block {
        width: 81%;
    }
    .contact-form-wrapper .form-block .contact-wrapper .box .rt-block span {
        width: 100%;
    }
    .skills-wrapper .image-block{
        width: 100%;
    }
}
@media only screen and (max-width: 348px){
    .banner-content-wrapper .banner-content .text-block h4 {
        font-size: 17px;
    }
    .header-wrapper header .download-cv a {
        padding-inline: 11px;
        font-size: 13px;
        padding-block: 8px;
    }
    .header-wrapper header .download-cv .hover-element i {
        color: #fff;
        font-size: 19px;
    }
    .header-wrapper nav {
        padding-inline: 30px;
        padding-block: 6px;
    }
    .stellarnav .menu-toggle span.bars span {
        width: 31px;
        height: 1px;
        background: #ffffff;
        margin: 0;
    }
    .banner-content-wrapper .banner-content .text-block #element {
        font-size: 21px;
    }
    .banner-content-wrapper .banner-content .image-block:nth-child(1) .icon-element .icon:nth-child(3) {
        left: -28px;
        top: 79px;
    }
    .contact-form-wrapper .form-block .captcha-block .captcha-box {
        width: 100% !important;
    }
     
}



